/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0;
}
body {
  /* background: #f7e1af; */
}
a,
a:hover {
  color: #333;
}

.ant-btn,
.ant-checkbox-wrapper,
.ant-select-dropdown-menu,
.ant-message-notice {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}
.ant-notification-notice-message {
  color: #f7e1af !important;
}
.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active {
  background-color: rgba(19, 108, 94, 0.5) !important;
}

.ant-select-auto-complete .ant-select-selection__clear,
.ant-select-auto-complete .ant-select-selection__clear:hover {
  display: none;
}
.ant-select-selection__clear,
.ant-select-selection__clear:hover {
  color: #f7e1af;
  opacity: 1;
}
.expired .ant-modal-confirm-content {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}
.expired .ant-btn:first-child {
  display: none;
}
.network-error .ant-popover-inner-content {
  background-color: #ffeab7;
  color: #000;
  border-radius: 4px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  font-weight: 700;
}
.network-error .ant-popover-arrow {
  border-color: #ffeab7 !important;
}
